@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
html,
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

button:hover {
  -webkit-box-shadow: 2px 4px 46px -10px rgba(115, 115, 115, 0.667);
          box-shadow: 2px 4px 46px -10px rgba(115, 115, 115, 0.667);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

body {
  min-width: 320px;
}

.login {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fde8f1;
}

.login .login__title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #e51873;
  text-align: center;
  font-size: 35px;
  padding: 4px;
  margin-top: 60px;
  height: 80px;
}

.login .login__secondTitle {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  font-weight: 100;
  font-size: 20px;
  margin-top: 20px;
  height: 50px;
  width: 70%;
}

.login .login__data--container {
  background-color: #ffffff;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-bottom: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  height: 600px;
}

.login .login__data--container .login__data--logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-image: url("../assets/chat.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
  margin-top: 50px;
  width: 70px;
  height: 70px;
}

.login .login__data--container .login__data--title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #e51873;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 10px;
  height: 40px;
  width: 300px;
}

.login .login__data--container .login__data--input {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: none;
  border-radius: 8px;
  background-color: #1acf7e3b;
  margin-bottom: 50px;
  font-size: 20px;
  padding: 15px;
  width: 300px;
  height: 40px;
}

.login .login__data--container .login__data--button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #e51873;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  margin-top: 50px;
  font-size: 20px;
  font-weight: 100;
  width: 250px;
  height: 60px;
}

.login .login__data--container .login__data--button:hover {
  cursor: pointer;
  background-color: #e5187491;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.navbar {
  background-color: #e51873;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 150px;
}

.navbar .navbar__icon--container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 10px;
  width: 80%;
}

.navbar .navbar__icon--container h1 {
  color: white;
  font-weight: 100;
  font-size: 30px;
  margin-left: 20px;
}

.navbar .navbar__icon--container .navbar__image {
  background-image: url("../assets/chat.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 40px;
  width: 80px;
  height: 70px;
}

.navbar .navbar__hamburger {
  background-image: url("../assets/hamburguesa.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 40px;
  width: 20px;
  height: 20px;
}

.navbar .navbar__hamburger:hover {
  cursor: pointer;
}

.navbar .navbar__cross--hidden {
  display: none;
}

.navbar .navbar__cross {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-image: url("../assets/cruz.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 40px;
  width: 20px;
  height: 20px;
}

.navbar .navbar__cross:hover {
  cursor: pointer;
}

.sidebar {
  -webkit-box-shadow: 0px 7px 52px -1px rgba(156, 153, 156, 0.68);
          box-shadow: 0px 7px 52px -1px rgba(156, 153, 156, 0.68);
  background-color: #ffffff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 0;
  height: 800px;
  width: 375px;
  z-index: 2;
}

.sidebar .sidebar__userImage {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-image: url("../assets//userImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 50px;
  width: 60px;
  height: 60px;
}

.sidebar .sidebar__userName {
  text-align: center;
  margin-top: 30px;
  overflow-y: hidden;
}

.sidebar .sidebar__logOutButton {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #e5182b;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 100;
  width: 300px;
  height: 60px;
}

.sidebar .sidebar__logOutButton:hover {
  cursor: pointer;
  background-color: #ee5b69;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.sidebar .sidebar__titleLatestPosts {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 400;
  font-size: 20px;
  margin-top: 40px;
  width: 300px;
  overflow-y: hidden;
}

.sidebar .sidebar__latestPost--list {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  margin-bottom: 20px;
  width: 300px;
  height: 400px;
}

.sidebar .sidebar__latestPost--list .sidebar__latestPost--items {
  background-color: #e3fcf1;
  border-radius: 8px;
  text-align: center;
  height: 80px;
}

.grid {
  background-color: #fde8f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid .grid__container {
  background-color: #fde8f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  padding: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 95%;
  height: 100%;
}

.grid__card {
  border-radius: 8px;
  -webkit-box-shadow: 10px 10px 29px -6px #b0aab0;
          box-shadow: 10px 10px 29px -6px #b0aab0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  text-align: center;
  height: 300px;
  width: 300px;
}

.grid__card .grid__card--title-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grid__card .grid__card--title-image h3 {
  text-align: left;
  width: 70%;
  font-size: 15px;
}

.grid__card .grid__card--title-image .grid__card--image {
  background-image: url("../assets/userImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 500px;
  width: 60px;
  height: 60px;
}

.grid__card p {
  font-weight: 100;
  line-height: 17px;
  font-size: 12px;
  text-align: justify;
  padding: 20px;
}

.grid__card .grid__card--icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid__card .grid__card--icons-container .grid__card--icons-container-edit {
  background-image: url("../assets/pencil.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 20px;
  width: 20px;
  height: 20px;
}

.grid__card .grid__card--icons-container .grid__card--icons-container-edit:hover {
  cursor: pointer;
}

.grid__card .grid__card--icons-container .grid__card--icons-container-delete {
  background-image: url("../assets/trash.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
}

.grid__card .grid__card--icons-container .grid__card--icons-container-delete:hover {
  cursor: pointer;
}

.footer {
  background-color: #e51873;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 200px;
}

.footer h3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #ffffff;
  font-weight: 100;
  text-align: center;
}

.notFound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
  padding: 50px;
}

.notFound .notFound__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../assets/notfound.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 500px;
  height: 500px;
}

.notFound h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 70px;
  color: #e51873;
}

.notFound p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 100;
  font-size: 20px;
  text-transform: uppercase;
}

.notFound button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #e51873;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  font-weight: 100;
  width: 300px;
  height: 60px;
}

.notFound button:hover {
  cursor: pointer;
  background-color: #e5187490;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.notFound button a {
  text-decoration: none;
  color: #ffffff;
}

@media only screen and (min-width: 810px) {
  .login .login__data--container {
    width: 500px;
  }
  .grid {
    background-color: #fde8f1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .grid .grid__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .grid__card {
    height: 350px;
    width: 350px;
  }
  .grid__card .grid__card--title-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .grid__card .grid__card--title-image .grid__card--image {
    width: 90px;
    height: 90px;
  }
  .grid__card p {
    line-height: 20px;
    font-size: 14px;
  }
  .grid__card .grid__card--icons-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .grid__card .grid__card--icons-container .grid__card--icons-container-edit {
    width: 30px;
    height: 30px;
  }
  .grid__card .grid__card--icons-container .grid__card--icons-container-delete {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (min-width: 1440px) {
  .navbar .navbar__icon--container h1 {
    font-size: 60px;
    margin-left: 20px;
  }
  .navbar .navbar__icon--container .navbar__image {
    width: 90px;
    height: 90px;
  }
  .login {
    height: 100vh;
  }
  .login .login__data--container {
    width: 600px;
  }
  .login .login__data--container .login__data--logo {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 70px;
    height: 70px;
  }
  .login .login__data--container .login__data--title {
    text-align: center;
    font-size: 25px;
    width: 450px;
  }
  .login .login__data--container .login__data--input {
    width: 300px;
    font-size: 14px;
  }
  .login .login__data--container .login__data--button {
    width: 300px;
    margin-bottom: 50px;
  }
  .sidebar {
    height: 950px;
    width: 500px;
  }
  .sidebar .sidebar__userImage {
    width: 150px;
    height: 150px;
  }
  .sidebar .sidebar__userName {
    text-align: center;
    margin-top: 30px;
  }
  .sidebar .sidebar__titleLatestPosts {
    margin-top: 80px;
  }
  .sidebar .sidebar__latestPost--list {
    margin-bottom: 50px;
  }
  .grid {
    background-color: #fde8f1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .grid .grid__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 25px;
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 95%;
    height: 100%;
  }
  .grid__card {
    height: 400px;
    width: 400px;
  }
  .grid__card .grid__card--title-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .grid__card .grid__card--title-image .grid__card--image {
    width: 90px;
    height: 90px;
  }
  .grid__card p {
    line-height: 25px;
    font-size: 14px;
  }
  .grid__card .grid__card--icons-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
  }
  .grid__card .grid__card--icons-container .grid__card--icons-container-edit {
    width: 30px;
    height: 30px;
  }
  .grid__card .grid__card--icons-container .grid__card--icons-container-delete {
    width: 30px;
    height: 30px;
  }
  .notFound {
    margin-top: 100px;
  }
  .showGridCard__background {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(179, 179, 179, 0.136);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100%;
    width: 100%;
  }
  .showGridCard__background .showGridCard__container {
    background-color: #ffffff;
    border-radius: 8px;
    -ms-flex-item-align: center;
        align-self: center;
    padding: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 600px;
    height: 600px;
  }
  .showGridCard__background .showGridCard__container--title-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .showGridCard__background .showGridCard__container--title-image h3 {
    width: 60%;
    font-size: 30px;
  }
  .showGridCard__background .showGridCard__container--image {
    background-image: url("../assets/userImage.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 150px;
  }
  .showGridCard__background p {
    font-weight: 100;
    line-height: 30px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: justify;
    margin-top: 80px;
  }
  .showGridCard__background .showGridCard__container--button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    background-color: #00b25c;
    border-radius: 8px;
    border: none;
    color: #ffffff;
    font-size: 20px;
    margin-top: 50px;
    font-weight: 100;
    width: 300px;
    height: 60px;
  }
  .showGridCard__background .showGridCard__container--button:hover {
    cursor: pointer;
    background-color: #1acf7f;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
}
/*# sourceMappingURL=App.css.map */