@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

$colors: (
  "primary": #e51873,
  "secondary": #fde8f1,
  "white": #ffffff,
  "green": #00b25c,
  "greenHover": #1acf7f,
  "greenInputLogIn": #1acf7e3b,
  "greenCards": #e3fcf1,
  "red": #e5182b,
  "redHover": #ee5b69,
);

$fontSize: (
  "primary": 15px,
  "secondary": 20px,
);

$borderRadius: (
  "primary": 8px,
  "secondary": 500px,
);

$sizes: (
  "primary": 400px,
  "marginTop": 50px,
  "buttonWidth": 300px,
  "buttonHeight": 60px,
);

// Reset styles

html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

body {
  min-width: 320px;
}

// Login Styles in mobile view

.login {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: map-get($colors, "secondary");

  .login__title {
    color: map-get($colors, "primary");
    text-align: center;
    font-size: 70px;
    margin-top: 100px;
  }

  .login__secondTitle {
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    margin-top: 20px;
  }

  .login__data--container {
    background-color: map-get($colors, "white");
    border-radius: map-get($borderRadius, "primary");
    display: flex;
    margin-top: map-get($sizes, "marginTop");
    margin-bottom: 80px;
    flex-direction: column;
    width: 90%;
    height: 750px;

    .login__data--logo {
      align-self: center;
      background-image: url("../assets/chat.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin-bottom: map-get($sizes, "marginTop");
      margin-top: map-get($sizes, "marginTop");
      width: 90px;
      height: 90px;
    }

    .login__data--title {
      align-self: center;
      color: map-get($colors, "primary");
      font-weight: 300;
      font-size: 30px;
      margin-bottom: 10px;
    }

    .login__data--input {
      align-self: center;
      border: none;
      border-radius: map-get($borderRadius, "primary");
      background-color: map-get($colors, "greenInputLogIn");
      margin-bottom: map-get($sizes, "marginTop");
      font-size: 25px;
      padding: 15px;
      width: 300px;
      height: 40px;
    }

    .login__data--button {
      align-self: center;
      background-color: map-get($colors, "primary");
      border: none;
      border-radius: map-get($borderRadius, "primary");
      color: map-get($colors, "white");
      margin-top: map-get($sizes, "marginTop");
      font-size: map-get($fontSize, "secondary");
      font-weight: 100;
      width: 250px;
      height: map-get($sizes, "buttonHeight");

      &:hover {
        cursor: pointer;
        background-color: #e5187491;
        transition: 0.3s ease;
      }
    }
  }
}

// Navbar Styles in mobile view

.navbar {
  background-color: map-get($colors, "primary");
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 150px;

  .navbar__icon--container {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    padding: 10px;
    width: 80%;

    h1 {
      color: white;
      font-weight: 100;
      font-size: 30px;
      margin-left: 20px;
    }

    .navbar__image {
      background-image: url("../assets/chat.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin-left: 40px;
      width: 80px;
      height: 70px;
    }
  }

  .navbar__hamburger {
    background-image: url("../assets/hamburguesa.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-self: center;
    margin-right: 40px;
    width: 20px;
    height: 20px;
    &:hover {
      cursor: pointer;
    }
  }

  .navbar__cross--hidden {
    display: none;
  }

  .navbar__cross {
    align-self: center;
    background-image: url("../assets/cruz.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 40px;
    width: 20px;
    height: 20px;
    &:hover {
      cursor: pointer;
    }
  }
}

// Sidebar Styles in mobile view

.sidebar {
  box-shadow: 0px 7px 52px -1px rgba(156, 153, 156, 0.68);
  background-color: map-get($colors, "white");
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  height: 800px;
  width: 375px;
  z-index: 2;

  .sidebar__userImage {
    align-self: center;
    background-image: url("../assets//userImage.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: map-get($sizes, "marginTop");
    width: 60px;
    height: 60px;
  }

  .sidebar__userName {
    text-align: center;
    margin-top: 30px;
    overflow-y: hidden;
  }

  .sidebar__logOutButton {
    align-self: center;
    background-color: map-get($colors, "red");
    border-radius: map-get($borderRadius, "primary");
    border: none;
    color: map-get($colors, "white");
    font-size: map-get($fontSize, "secondary");
    font-weight: 100;
    width: map-get($sizes, "buttonWidth");
    height: map-get($sizes, "buttonHeight");

    &:hover {
      cursor: pointer;
      background-color: map-get($colors, "redHover");
      transition: 0.3s ease;
    }
  }

  .sidebar__titleLatestPosts {
    align-self: center;
    font-weight: 400;
    font-size: map-get($fontSize, "secondary");
    margin-top: 40px;
    width: 300px;
    overflow-y: hidden;
  }

  .sidebar__latestPost--list {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 20px;
    width: 300px;
    height: 400px;

    .sidebar__latestPost--items {
      background-color: map-get($colors, "greenCards");
      border-radius: map-get($borderRadius, "primary");
      text-align: center;
      height: 80px;
    }
  }
}

// Grid Styles in mobile view

//TODO: arreglar la vista mobile del grid

// Footer Styles in mobile view

.footer {
  background-color: map-get($colors, "primary");
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;

  h3 {
    align-self: center;
    color: map-get($colors, "white");
    font-weight: 100;
    text-align: center;
  }
}

@media only screen and (min-width: 1440px) {
  // Navbar Styles in desktop view
  .navbar {
    .navbar__icon--container {
      h1 {
        font-size: 60px;
        margin-left: 20px;
      }

      .navbar__image {
        width: 90px;
        height: 90px;
      }
    }
  }

  .login {
    height: 100vh;

    .login__data--container {
      width: 700px;

      .login__data--logo {
        width: 150px;
        height: 150px;
      }

      .login__data--title {
        width: 450px;
      }

      .login__data--input {
        width: 450px;
      }

      .login__data--button {
        width: map-get($sizes, "buttonWidth");
      }
    }
  }

  .sidebar {
    height: 950px;
    width: 500px;

    .sidebar__userImage {
      width: 150px;
      height: 150px;
    }

    .sidebar__userName {
      text-align: center;
      margin-top: 30px;
    }

    .sidebar__titleLatestPosts {
      margin-top: 80px;
    }

    .sidebar__latestPost--list {
      margin-bottom: map-get($sizes, "marginTop");
    }
  }

  .grid {
    background-color: map-get($colors, "secondary");
    display: flex;
    justify-content: center;

    .grid__container {
      background-color: map-get($colors, "secondary");
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      gap: 10px;
      margin-top: 40px;
      margin-bottom: 40px;
      width: 95%;
    }
  }

  .grid__card {
    display: flex;
    justify-self: center;
    flex-direction: column;
    background-color: map-get($colors, "white");
    text-align: center;
    height: 400px;
    width: 400px;

    .grid__card--title-image {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        justify-content: space-between;
        border: 1px solid red;

        h3 {
            text-align: left;
        }
    }
  }
}
