$colores: (
  "primary": #e51873,
  "secondary": #fde8f1,
  "white": #ffffff,
  "green": #00b25c,
  "greenHover": #1acf7f,
  "greenInputLogIn": #1acf7eda,
  "greenCards": #e3fcf1,
  "red": #e5182b,
  "redHover": #ee5b69,
);

$fontSize: (
  "primary": 15px,
  "secondary": 20px,
);

$borderRadius: (
  "primary": 8px,
  "secondary": 500px,
);

$sizes: (
"primary": 400px
//TODO: rellenar el resto de sizes de divs y botones
);

* {
  margin: 0;
  padding: 0;
}

h1 {
  color: map-get($colores, "primary");
}
