@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
html,
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  min-width: 320px;
}

.login {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fde8f1;
}

.login .login__title {
  color: #e51873;
  text-align: center;
  font-size: 70px;
  margin-top: 60px;
}

.login .login__secondTitle {
  font-weight: 100;
  font-size: 30px;
  margin-top: 20px;
}

.login .login__data--container {
  background-color: #ffffff;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-bottom: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 700px;
  height: 750px;
}

.login .login__data--container .login__data--logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-image: url("../assets/chat.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
  margin-top: 50px;
  width: 150px;
  height: 150px;
}

.login .login__data--container .login__data--title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #e51873;
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 10px;
  width: 450px;
}

.login .login__data--container .login__data--input {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: none;
  border-radius: 8px;
  background-color: #1acf7e3b;
  margin-bottom: 50px;
  width: 450px;
  height: 40px;
}

.login .login__data--container .login__data--button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #e51873;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  margin-top: 50px;
  font-size: 20px;
  font-weight: 100;
  width: 300px;
  height: 60px;
}

.login .login__data--container .login__data--button:hover {
  cursor: pointer;
  background-color: #e5187491;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.navbar {
  background-color: #e51873;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 150px;
}

.navbar .navbar__icon--container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 10px;
  width: 80%;
}

.navbar .navbar__icon--container h1 {
  color: white;
  font-weight: 100;
  font-size: 30px;
  margin-left: 20px;
}

.navbar .navbar__icon--container .navbar__image {
  background-image: url("../assets/chat.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 40px;
  width: 80px;
  height: 70px;
}

.navbar .navbar__hamburger {
  background-image: url("../assets/hamburguesa.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 40px;
  width: 30px;
  height: 30px;
}

.navbar .navbar__hamburger:hover {
  cursor: pointer;
}

.navbar .navbar__cross--hidden {
  display: none;
}

.navbar .navbar__cross {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-image: url("../assets/cruz.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 40px;
  width: 30px;
  height: 30px;
}

.navbar .navbar__cross:hover {
  cursor: pointer;
}

.sidebar__background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  background-color: #00000017;
}

.sidebar__background .sidebar {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 500px;
}

.sidebar__background .sidebar .sidebar__userImage {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-image: url("../assets//userImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 50px;
  width: 150px;
  height: 150px;
}

.sidebar__background .sidebar .sidebar__userName {
  text-align: center;
  margin-top: 30px;
}

.sidebar__background .sidebar .sidebar__logOutButton {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #e5182b;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 100;
  width: 300px;
  height: 60px;
}

.sidebar__background .sidebar .sidebar__logOutButton:hover {
  cursor: pointer;
  background-color: #ee5b69;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.sidebar__background .sidebar .sidebar__titleLatestPosts {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 400;
  font-size: 20px;
  margin-top: 80px;
  width: 300px;
}

.sidebar__background .sidebar .sidebar__latestPost--list {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  margin-bottom: 50px;
  width: 300px;
  height: 400px;
}

.sidebar__background .sidebar .sidebar__latestPost--list .sidebar__latestPost--items {
  background-color: #e3fcf1;
  border-radius: 8px;
  text-align: center;
  height: 80px;
}

.footer {
  background-color: #e51873;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 200px;
}

.footer h3 {
  color: #ffffff;
  font-weight: 100;
  text-align: center;
  margin-top: 80px;
}

@media only screen and (min-width: 1440px) {
  .navbar .navbar__icon--container h1 {
    font-size: 60px;
    margin-left: 20px;
  }
  .navbar .navbar__icon--container .navbar__image {
    width: 90px;
    height: 90px;
  }
}
/*# sourceMappingURL=App.css.map */